<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <title>ToDoApp</title>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Kalam&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>

        <div class="container container-update-style">

            <br>



            <div class="row">

                <div class="col col-style">

                    <div class="input-group">

                        <h2 class="logo-style">ToDoApp</h2>
                        <br>
                        <br>
                        <form th:action="@{/addThingToDoAction}" method="POST" th:object="${task}">
                            <div class="form-group">
                                <input type="hidden" class="form-control"
                                       th:field="*{id}" placeholder="id">
                                <input
                                        size="30" class="form-control" type="text"
                                        th:field="*{description}" placeholder="Tytuł testu">

                                <br>
                                <br>
                            </div>
                                <button class="btn btn-primary auto-margin" type="submit">Zapisz</button>

                        </form>

                    </div>

                </div>

            </div>

        </div>










