<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <title>ToDoApp</title>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Kalam&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
    <div class="container login-container-style">

        <div class="row">

            <div class="col-3">

            </div>

            <div class="col-6 register-col-style">
                <h2 class="logo-style">ToDoApp</h2>
                <br>
                <br>
                <form th:action="@{/register/processRegistrationForm}"
                      th:object="${crmUser}" method="POST"
                      class="form-horizontal">
                    <div th:if="${registrationError}" class="alert alert-danger col-xs-offset-1 col-xs-10">
                        ${registrationError}
                    </div>
                    <div style="margin-bottom: 25px" class="input-group">
                        <input type="text" th:field="*{userName}" placeholder="nazwa użytkownika" class="form-control"/>
                    </div>
                    <div th:if="${#fields.hasErrors('userName')}"
                         style="margin-bottom: 25px" class="text-danger">
                        <ul>
                            <li th:each="err : ${#fields.errors('userName')}" th:text="'User name ' + ${err}"/>
                        </ul>
                    </div>
                    <div style="margin-bottom: 25px" class="input-group">
                        <input type="password" th:field="*{password}" placeholder="hasło" class="form-control"
                               th:errorclass="fieldError"/>
                    </div>
                    <div th:if="${#fields.hasErrors('password')}"
                         style="margin-bottom: 25px" class="text-danger">
                        <ul>
                            <li th:each="err : ${#fields.errors('password')}" th:text="'Password ' + ${err}"/>
                        </ul>
                    </div>
                    <div style="margin-bottom: 25px" class="input-group">
                        <input type="password" th:field="*{matchingPassword}" placeholder="potwierdź hasło"
                               class="form-control" th:errorclass="fieldError"/>
                    </div>
                    <div th:if="${#fields.hasErrors('matchingPassword')}"
                         style="margin-bottom: 25px" class="text-danger">
                        <ul>
                            <li th:each="err : ${#fields.errors('matchingPassword')}" th:text="'Password ' + ${err}"/>
                        </ul>
                    </div>
                    <div style="margin-bottom: 25px" class="input-group">
                        <input type="text" th:field="*{firstName}" placeholder="imię" class="form-control"
                               th:errorclass="fieldError"/>
                    </div>
                    <div th:if="${#fields.hasErrors('firstName')}"
                         style="margin-bottom: 25px" class="text-danger">
                        <ul>
                            <li th:each="err : ${#fields.errors('firstName')}" th:text="'First name ' + ${err}"/>
                        </ul>
                    </div>
                    <div style="margin-bottom: 25px" class="input-group">
                        <input type="text" th:field="*{lastName}" placeholder="nazwisko" class="form-control"
                               th:errorclass="fieldError"/>
                    </div>
                    <div th:if="${#fields.hasErrors('lastName')}"
                         style="margin-bottom: 25px" class="text-danger">
                        <ul>
                            <li th:each="err : ${#fields.errors('lastName')}" th:text="'Last name ' + ${err}"/>
                        </ul>
                    </div>
                    <div style="margin-bottom: 25px" class="input-group">
                        <input type="text" th:field="*{email}" placeholder="email" class="form-control"
                               th:errorclass="fieldError"/>
                    </div>
                    <div th:if="${#fields.hasErrors('email')}"
                         style="margin-bottom: 25px" class="text-danger">
                        <ul>
                            <li th:each="err : ${#fields.errors('email')}" th:text="'Email ' + ${err}"/>
                        </ul>
                    </div>
                    <button type="submit" class="btn btn-primary">Zarejestruj</button>
                </form>
            </div>

            <div class="col-3">

            </div>

        </div>
    </div>

</body>
</html>